<main class="container">
  <section class="top">
    <p class="deck-indicator">{{Deck}} - Vocabulary</p>
    <p>{{Vocabulary}}</p>
  </section>

  <section class="bottom">
    <div class="bottom-page bottom-simple">
      <!-- Translation -->
      <p class="bold">{{Translation}}</p>

      <!-- Sentence -->
      {{#Sentence}}
      <p>{{Sentence}}</p>
      {{/Sentence}}

      <!-- Image -->
      {{#Image}}
      <p>{{Image}}</p>
      {{/Image}}
    </div>

    <div class="bottom-page bottom-extended">
      <!-- Translation -->
      <div class="bottom-extended-item" data-section="Translation">
        <p>{{Translation}}</p>
      </div>

      <!-- Sentence -->
      {{#Sentence}}
      <div class="bottom-extended-item" data-section="Sentences">
        <p>{{Sentence}}</p>
      </div>
      {{/Sentence}}

      <!-- Image -->
      {{#Image}}
      <div
        class="bottom-extended-item bottom-extended-image-item"
        data-section="Image"
      >
        {{Image}}
      </div>
      {{/Image}}

      <!-- Extra -->
      {{#Extra}}
      <div class="bottom-extended-item" data-section="Extra">
        <p>{{Extra}}</p>
      </div>
      {{/Extra}}
    </div>
  </section>
</main>
