/*
Example Color Palette:

Vocabulary  : hwb(315 10% 55%)
Sentence    : hwb(195 10% 55%)
Grammar     : hwb(120 10% 55%)
Listening   : hwb( 60 10% 55%)
Extra 1     : hwb(255 10% 55%)
Extra 2     : hwb(  0 10% 55%)
*/

:root {
  --primary-color: hwb(315 10% 55%);
  --secondary-color: hwb(0 20% 100%);
  --primary-contrast-color: white;
  --neutral-text-color: black;

  --font-size-huge: 3rem;
  --font-size-large: 2rem;
  --font-size-medium: 1.5rem;
  --font-size-normal: 1rem;
  --font-size-small: 0.75rem;

  --font-vocabulary: var(--font-size-huge);
  --font-sentence: var(--font-size-large);

  --max-card-height: 100vh;
  --max-card-width: 100vw;

  --button-size: 2rem;
  --side-padding: 2rem;
  --border-radius: 0.3rem;
}

*,
::before,
::after {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
  width: 0px;
}

html {
  font-size: 2vh;
  font-family: "Noto Sans", "Noto Sans JP", sans-serif;
}

.ipad {
  font-size: 1.5vh;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: var(--primary-color) !important;
  height: 100vh;
  overflow: hidden;
  color: var(--primary-contrast-color);
}

.container {
  display: grid;
  grid-template-rows: 25% 75%;
  box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.5);
  border-radius: var(--border-radius);
  background-color: var(--primary-color) !important;
  width: min(100vw, var(--max-card-width));
  height: min(100vh, var(--max-card-height));
}

.top {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  z-index: 30;
  box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.5);
  border-radius: var(--border-radius);
  background-color: var(--primary-color);
  font-size: var(--font-size-huge);
}

.deck-indicator {
  position: absolute;
  top: 0;
  left: 0;
  padding-left: var(--side-padding);
  font-size: var(--font-size-small);
}

.bottom {
  position: relative;
  padding: 1em 1em 0;
  overflow: hidden;
  font-size: var(--font-size-medium);
  text-align: center;
}

button.more-info-button {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1rem var(--side-padding) 0 0;
  border: none;
  background-color: var(--primary-color);
  padding: 0;
  width: var(--button-size);
  height: var(--button-size);
}

.more-info-button svg {
  fill: white;
}

.bottom-extended {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.5);
  border-radius: var(--border-radius);
  background-color: var(--secondary-color);
  padding: var(--side-padding);
  padding-bottom: 5vh;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  font-size: var(--font-size-normal);
  text-align: center;
}

.extended .bottom-extended {
  display: block;
}

.bottom-extended-item {
  text-align: left;
}

.bottom-extended-image-item {
  text-align: center;
}

.bottom-extended-item::before {
  display: block;
  content: attr(data-section);
  font-size: var(--font-size-small);
  text-align: left;
}

.bottom-extended-item p {
  padding: 0 2em;
}

.translation {
  font-weight: bold;
}

img {
  margin-top: 1em;
  border: solid white 2px;
  border-radius: var(--border-radius);
  max-height: 25vh !important;
}
