*,::before,::after{
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
    width: 0px; 
}

/*
 * Example color palette:
 *
 * Vocabulary card : #20124d
 * Sentence card   : #4c1130
 * Grammar card    : #0c343d
 * Listening card  : #7f6000
 * Extra           : #660000
 */

:root {
    --primary-color: #800080;
    --primary-contrast-color: #fff;
    --neutral-text-color: #000;

    --font-size-huge: 3rem;
    --font-size-large: 2rem;
    --font-size-normal: 1rem;
    --font-size-small: 0.5rem;
}

html {
    font-family: 'Noto Sans', 'Noto Sans JP', sans-serif;
    font-size: 20px;
}

.card {
    margin: 0;
    overflow: hidden;

    color: var(--primary-contrast-color);
    background-color: var(--primary-color);
}

.front {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.front-body {
    text-align: center;

    font-size: var(--font-size-huge);
}

.back {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 15% 85%;
}

.back-top {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
    text-align: center;
    font-size: var(--font-size-large);
}

.back-bottom {	
    height: 100%; 
    text-align: center;
    overflow-y: scroll;

    font-size: var(--font-size-normal);
    background-color: var(--primary-contrast-color);
    color: var(--neutral-text-color);
}

.back-bottom-item {
    background-color: var(--primary-contrast-color);
    padding: 4% 2%;
    text-align: left;
}

.back-bottom-item::before {
    content: attr(data-section);
    display: block;
    font-size: var(--font-size-small);
    color: var(--primary-color);
}

.back-bottom-item p {
    padding: 0 5%;
}

.img {
	display: flex;
	justify-content: center;
}
